/* DESIGN SYSTEM */
:root {
    --primary-color: #33cdcd;
    --text-color: #edece8;
    --light-contrast-color: #177a86;
    --contrast-color: #070a16;
    --title-font: 'Oswald', sans-serif;
    --caption-font: 'Montserrat', sans-serif;
    --container-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

/* BASIC CONFIGURATIONS */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 110vh;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-shadow: 1px 1px 2px rgba(29, 29, 29, 0.6);
    font-family: var(--caption-font);
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-family: var(--title-font);
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* HEADER STYLING */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .brand {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3em;
}

nav .brand p {
    position: relative;
    bottom: 0.2em;
    font-size: 0.75em;
    text-align: right;
}

nav .brand p a:hover {
    opacity: 0.7;
}

nav ul {
    display: flex;
}

#navbar li {
    position: relative;
    padding-bottom: 16px;
    opacity: 0.4;
    transform: opacity 0.25s ease-in;
}

#navbar li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease-in;
}

#navbar li.active {
    opacity: 1!important;
}

#navbar li.active::after {
    transform: none!important;
    background-color: var(--text-color)!important;
    height: 4px!important;
}

#navbar li:hover {
    opacity: 0.8;
}

#navbar li:hover::after {
    transform: scaleX(1);
}

#navbar li a {
    padding: 0 2rem 16px 2rem;
}

nav #menu {
    text-align: center;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 60px;
    left: 0;
    background-color: #177a86;
    z-index: 100;
}

header {
    position: relative;
    background-color: var(--light-contrast-color);
    padding-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* MAIN STYLING */

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

main .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home {
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

main .color-overlay {
    width: 100%;
    height: 100%;
    display: inherit;
    flex-direction: inherit;
    flex-grow: 1;
    align-items: inherit;
    justify-content: inherit;
    background-color: rgba(51, 205, 205, 0.85);
}

main #brand-name {
    font-size: 6em;
    letter-spacing: 6px;
    text-shadow: 2px 2px 8px rgba(29, 29, 29, 1);
}

main #company-name a:hover {
    opacity: 0.6;
}

main #company-name {
    text-align: right;
    position: relative;
    opacity: 0.9;
    bottom: 1em;
}

main #brand-slogan {
    font-size: 1.2em;
}

main .btn-container {
    margin: 1.5em;
    display: flex;
    gap: 1em;
}

main .home-btn {
    background-color: rgba(51, 205, 205, 0.4);
    color: var(--text-color);
    padding: 0.6em 3em;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.4s ease;
}
  
main .home-btn:hover {
    background-color: rgba(17, 102, 102, 0.7);
}

main .page-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    flex-grow: 1;
}

main .page-container h1 {
    margin: 0.75em 1em 0.25em 1em;
    font-size: 3.5em;
}

main .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 3em 2em 4em 2em;
    margin-bottom: 5em;
    max-width: 75%;
    gap: 1em;
    background-color: #177a8660;
    border-radius: 8px;
    box-shadow: var(--container-shadow);
}

main .box {
    position: relative;
    background-color: #00000020;
    border: solid 1px #00000080;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1em 0.5em;
    transition: background-color 0.4s ease-in;
}

main .box img {
    width: 90%;
    object-fit: contain;
    flex-grow: 1;
}

main .box img.shadow {
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

main .box .contact-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 1.1em;
    letter-spacing: 1px;
    background-color: #29292980;
    opacity: 0;
    transition: 0.4s ease-in;
}

main .box:hover {
    background-color: #000000D0;
}

main .box:hover img,
main .box:hover h3 {
    filter: blur(2px);
}

main .box:hover .contact-btn {
    opacity: 1;
}

main .contact-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em 0 4em 0;
    width: 750px;
    max-width: 80%;
    background-color: #177a86;
    border-radius: 8px;
    box-shadow: var(--container-shadow);
}

main .contact-container h2 {
    font-weight: 100;
}

main .contact-container h2:hover {
    opacity: 0.8;
}
  

/* FOOTER STYLING */

footer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 24px 1.5em;
    background-color: var(--contrast-color);
    text-align: center;
}

/* ANIMATIONS */
.intro {
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-down {
    animation: slide-down 0.25s ease-in;
}

@keyframes slide-down {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* RESPONSIVE DESIGN */

@media (max-width: 644px) {
    /* * {
        overflow-x: hidden;
    }

    h1, h2, h3, .text-container {
        overflow-x: visible;
    } */
    
    nav {
        flex-direction: row;
        padding: 0 2em 8px 2em;
    }
    
    nav .brand {
        position: relative;
    }

    nav #navbar {
        display: none;
    }

    nav #burger-icon {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    #burger-icon span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--text-color);    
        transition: all 0.3s ease-in-out;
    }

    #burger-icon.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
      
    #burger-icon.open span:nth-child(2) {
        opacity: 0;
    }
    
    #burger-icon.open span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #menu.menu-open {
        display: block;
    }

    #menu li {
        padding-bottom: 16px;
    }

    .no-scroll {
        overflow: hidden;
    }

    main .text-container {
        margin: 0 1.2em;
        gap: 1em;
    }

    main #brand-name {
        line-height: 1.1;
        font-size: 4.5em;
    }

    main #company-name {
        position: static;
    }

    main .btn-container {
        flex-direction: column;
    }

    main .box-container {
        grid-template-columns: none;
    }

    main .contact-container h2 {
        font-size: 1.2em;
    }
}
