a(href="#" class="cryptedmail" data-a="rental" data-b="mogin" data-c="net" onclick="window.location.href = 'mailto:' + this.dataset.a + '@' + this.dataset.b + '.' + this.dataset.c; return false;")
img.fallback(src="/img/email.png" alt="Email")