-
  var navs = {
    home: { href: "/index.html", title: "Home"},
    rental: { href: "/rental/index.html", title: "Rental"},
    selling: { href: "/selling.html", title: "Selling"},
  }

-
  var important = [
    ["Ngurah Rai International Airport", "https://www.bali-airport.com/"],
  ]
-
  var discover = [
    ["Bali Zoo", "https://www.bali-zoo.com/"],
    ["Bali Safari", "https://www.balisafarimarinepark.com/"],
    ["Waterbom", "https://www.waterbom-bali.com/"],
    ["Bali Bird Park", "https://www.balibirdpark.com/"],
    ["Bali Reptile Park", "https://balireptilepark.id/"],
    ["Lovina", "https://en.wikipedia.org/wiki/Lovina_Beach"],
    ["Ubud", "https://en.wikipedia.org/wiki/Ubud"],
    ["Uluwatu", "https://en.wikipedia.org/wiki/Uluwatu_Temple"],
    ["Nusa Penida", "https://en.wikipedia.org/wiki/Nusa_Penida"],
  ]