a(href="#" class="cryptedphone" data-a=dataA data-b=dataB data-c=dataC data-d=dataD onclick="window.location.href = 'tel:+' + this.dataset.a + this.dataset.b + this.dataset.c + this.dataset.d; return false;")
img.fallback(src="/img/phone.png" alt="Phone")