extends /layout.pug
block header
  - title = "Car not found"
  - ogTitle = "404 | Car not found"
  - ogDescription = "Oops! Looks like the car you're looking for took a wrong turn in Bali's scenic roads."
  - ogImage = "/img/error_1200_630.jpg"

block content
  #features-wrapper
    .container 
      .row 
        .col-12 
          h1.title.main 404 | Car not found
      .row 
        .col-12
          section.box.feature
            .inner
              p Oops! Looks like the car you're looking for took a wrong turn in Bali's scenic roads. Even our web pages seem to be on vacation! Unfortunately, the page you're searching for cannot be found. It might have stopped for a quick surf at Kuta Beach or maybe it's sipping a refreshing coconut at a beachside café in Seminyak.
              p Don't worry though, our navigation team is already on it. Meanwhile, you can always steer back to the homepage, or explore our array of amazing cars ready for your next adventure. So buckle up, because in Bali, every route leads to an unforgettable journey, even the 404 ones!