extends /layout.pug
block header
  - title = "Terms & Conditions"
  - ogUrl = "/terms.html"
  - ogTitle = "Terms & Conditions"
  - ogDescription = "For our rental services. Please visit our page for more details."

block content
  #features-wrapper
    .container 
      .row 
        .col-12 
          h1.title.main Terms & Conditions
      .row 
        .col-12
          section.box.feature
            .inner
              p We are currently updating our webpage. Content will follow shortly.